# Blockchain Microservice Server Port
PORT=3001

# Blockchain Configuration

PROVIDER_URL=https://sepolia.infura.io/v3/f4602c978cde41b681df04ea42c46513

CONTRACT_ADDRESS=0x365738edE45674DEAB1B2C665E66B82c80Ebe4E6

# Replace with the private key of the wallet that has NCCR admin rights
ADMIN_PRIVATE_KEY=1dc9d57136153ebb179b24cd8dc719d3b3d0aba76f29ab5a2b1f040a8b69519e
